h1 {
	text-align: center;
}

.player-prompt {
	text-align: center;
}

#player1, #player2, #winning-stats {
	border: 2px solid black;
	padding: 5%;
	margin: 10%;
	text-align: center;
}

.play-again {
	text-align: center;
}

.play-again button {
	margin-top: 10px;
}

.diagram {
	margin-top: 15px;
}

.item {
	border: 2px solid black;
	border-radius: 100%;
	padding: 10%;
}
.row-two {
	margin-top: 0;
	margin-bottom: -10px;
}

.row-three {
	margin-top: 10px;
}

#rock {
	margin-bottom: -10px;
}

footer {
	text-align: center;
}